<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>




<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#about">About</a>
  <a href="#sporquo">Work</a>

  <a href="#contact">Contact</a>
   <a target="_blank" href="http://facebook.com/zxealwd" class="fb-side"><img src="{{ '/img/fb.png' | prepend: site.baseurl }}" /></a>
    <a target="_blank" href="http://twitter.com/zxealwd" class="tw-side"><img src="{{ '/img/tw.png' | prepend: site.baseurl }}" /></a>
</div>







<script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script><script>
function openNav() {
    document.getElementById("mySidenav").style.width = "120px";
    document.getElementById("main").style.marginRight = "120px";
     $('.closebtn').show();
    $('.openn').hide();
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginRight= "0";
   $('.closebtn').hide();
      $('.openn').show();
}
</script>
  <script type="text/javascript">
 $(document).ready(function() {



var posit =false;
var skillflag=true;
var sqflag=true;
var fourflag=true;
var snflag=true;

  $(function() {
    setTimeout(function(){
$('.svg-box').addClass('is-showing');
$('.svg-z').addClass('is-showing');
$('.svg-x').addClass('is-showing');
$('.tag').addClass('is-showing');
}, 200);

  
});

    $(window).scroll(function() {
       var wScroll = $(this).scrollTop();
       var p = $( ".work-back" );
var position = p.position();
var skill = $('.skill-back').position();
 var sporquo = $('#sporquo').position();
var fourmost = $('#fourmost').position();
var contact = $('#contact').position();
var studentnation = $('#studentnation').position();

    if(wScroll>300 && posit === false ){

  $('.svg-box').removeClass('is-showing');
$('.svg-z').removeClass('is-showing');
$('.svg-x').removeClass('is-showing');
      $('.svg-logo').hide(0).addClass('left-nav').show(0);
       




$('.svg-box').addClass('is-showing');
$('.svg-z').addClass('is-showing');
$('.svg-x').addClass('is-showing');
posit=true;
}else if(wScroll<250 && posit === true ){
  posit=false;
    $('.svg-box').removeClass('is-showing');
$('.svg-z').removeClass('is-showing');
$('.svg-x').removeClass('is-showing');
 $('.svg-logo').hide(0).removeClass('left-nav').css({'margin':'0 auto'}).css({'margin-top':'100px'}).show(0);
 $('.svg-box').addClass('is-showing');
$('.svg-z').addClass('is-showing');
$('.svg-x').addClass('is-showing');
}
 if(wScroll>(position.top-400)){
  $('.work-title').addClass('is-showing');
  $('.work-main').addClass('is-showing');
   $('#bubb').addClass('bubbpop');
 }else if(wScroll<(position.top-400)){
    $('.work-title').removeClass('is-showing');
    $('.work-main').removeClass('is-showing');
       $('#bubb').removeClass('bubbpop');
       skillflag=true;
        
 }
var htmlpos = $( "#html5" ).position();
if(wScroll>(htmlpos.top-500)){
$('.html5').css( 'width','90%' ); 
}
else if(wScroll<(htmlpos.top-500)){
   $('.html5').css( 'width','0%' ); 
 }
var css3pos = $( "#css3" ).position();
if(wScroll>(css3pos.top-500)){
$('.css3').css( 'width','80%' ); 
}
else if(wScroll<(css3pos.top-500)){
  $('.css3').css( 'width','0%' ); 
 }
 var javascriptpos = $( "#javascript" ).position();
if(wScroll>(javascriptpos.top-500)){
$('.javascript').css( 'width','60%' ); 
}
else if(wScroll<(javascriptpos.top-500)){
   $('.javascript').css( 'width','0%' ); 
 }
 var bootstrappos = $( "#bootstrap" ).position();
if(wScroll>(bootstrappos.top-500)){
 $('.bootstrap').css( 'width','100%' ); 
}
else if(wScroll<(bootstrappos.top-500)){
    $('.bootstrap').css( 'width','0%' ); 
 }
  var flaskpos = $( "#flask" ).position();
if(wScroll>(flaskpos.top-500)){
 $('.flask').css( 'width','95%' ); 
}
else if(wScroll<(flaskpos.top-500)){
    $('.flask').css( 'width','0%' ); 
 } var wordpresspos = $( "#wordpress" ).position();
if(wScroll>(wordpresspos.top-500)){
 $('.wordpress').css( 'width','60%' ); 
}
else if(wScroll<(wordpresspos.top-500)){
    $('.wordpress').css( 'width','0%' ); 
 } 

 var postgrespos = $( "#postgres" ).position();
if(wScroll>(postgrespos.top-500)){
 $('.postgres').css( 'width','85%' ); 
}
else if(wScroll<(postgrespos.top-500)){
    $('.postgres').css( 'width','0%' ); 
 } 
 var mongodbpos = $( "#mongodb" ).position();
if(wScroll>(mongodbpos.top-500)){
 $('.mongodb').css( 'width','75%' ); 
}
else if(wScroll<(mongodbpos.top-500)){
    $('.mongodb').css( 'width','0%' ); 
 }
 
if(wScroll>(skill.top)){

  if(skillflag){
    
  $('html,body').animate({
        scrollTop: $(".project-back").offset().top},
        'fast');
  skillflag=false;
  }
}
if(wScroll>(sporquo.top-200)){

  $('#sporquo ').find('.project-box').addClass('is-showing');
   $('.sporquo-cont ').addClass('scale');
}else if(wScroll<(sporquo.top-200)){
 $('#sporquo').find('.project-box').removeClass('is-showing');
  $('.sporquo-cont ').removeClass('scale');
 sqflag=true;
        
}
if(wScroll>(fourmost.top-200)){

  $('#fourmost ').find('.project-box').addClass('is-showing');
  $('.fourmost-cont ').addClass('scale');
}else if(wScroll<(fourmost.top-200)){
 $('#fourmost ').find('.project-box').removeClass('is-showing');
  $('.fourmost-cont ').removeClass('scale');
 fourflag=true;
}
if(wScroll>(studentnation.top-200)){

  $('#studentnation ').find('.project-box').addClass('is-showing');
  $('.studentnation-cont ').addClass('scale');
}else if(wScroll<(studentnation.top-200)){
 $('#studentnation  ').find('.project-box').removeClass('is-showing');
  $('.studentnation-cont ').removeClass('scale');
  snflag=true;
}
if(wScroll>(contact.top-200)){

  $('#contact ').find('.project-box').addClass('is-showing');

}else if(wScroll<(contact.top-200)){
 $('#contact  ').find('.project-box').removeClass('is-showing');

}

if(wScroll>(sporquo.top+50)&&wScroll<(sporquo.top+100)){

  if(sqflag){
 $('html,body').animate({
        scrollTop: $(".fourmost-cont").offset().top},
        'fast');
 sqflag=false;
}
}



if(wScroll>(fourmost.top+50)&&wScroll<(fourmost.top+100)){
 if(fourflag){

 $('html,body').animate({
        scrollTop: $(".studentnation-cont").offset().top},
        'fast');
 fourflag=false;
}
}


if(wScroll>(studentnation.top+50)&&wScroll<(studentnation.top+100)){

  if(snflag){
 $('html,body').animate({
        scrollTop: $("#contact").offset().top},
        'fast');
 snflag=false;
}
}





       $('.above-back').css({
        'transform':'translate('+wScroll/50 +'%,'+wScroll/6 +'%)'

       });
       $('.above-back-b').css({
        'transform':'translate(-'+wScroll/10 +'%,'+wScroll/2 +'%)'

       });
     
     
    });
});
  </script><div id="main">
  <div id="top"><span style="cursor:pointer" class="openn" onclick="openNav()">&#9776;</span>
  <div class=" index-home">


<div class="svg-overlay">
<svg version="1.1"  class="svg-logo" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="218.645px" height="188.725px" viewBox="0 0 218.645 188.725" enable-background="new 0 0 218.645 188.725"
   xml:space="preserve">
<polygon fill="none" stroke="#FFFFFF" class="svg-box" stroke-width="20" stroke-miterlimit="10" points="192.51,14.688 15.954,14.688 
  15.954,174.117 123.711,174.117 192.51,68.06 "/>
<polygon fill="#FFFFFF"  class="svg-z" points="66.818,128.483 118.252,43.976 50.079,43.976 50.079,59.636 90.306,59.636 38.875,144.142 
  105.779,144.142 115.01,128.483 "/>
<polygon fill="#FFFFFF" class="svg-x" points="211.749,185.724 193.172,158.509 192.929,158.509 185.853,148.142 186.027,148.142 168.021,121.764 
  199.88,75.19 180.171,75.19 158.167,107.319 146.907,90.778 140.863,81.898 140.907,81.817 130.45,66.455 121.307,81.966 
  127.355,90.845 127.307,90.927 138.179,106.888 148.312,121.764 111.863,175.356 131.573,175.356 158.167,136.208 159.488,138.142 
  159.315,138.142 177.895,165.356 178.135,165.356 192.04,185.724 "/>
</svg>
</div>
 
<span class="tag">
DREAM / DESIGN / CODE</span>
</div>
  <div class="centererback">
<div class="above-back-b"></div>
<div class="above-back"></div>
<div class="centerer">

   <header class="site-header center-header">
 
  <div class="wrapper">

  
   

  </div>

</header>


</div>
</div></div>
<div class="work-back " id="about">
<div class="container">
  <div class="row"><div class="work-main col-sm-12"><div class="work-div">
<div class="work-title hi">HI</div>
  I'm Aniket Suvarna, a web developer based in Mumbai, India. I am really passionate about what I do and what I believe in. I like to collaborate with people who share my passion and drive towards buliding something unique. I specialise in designing the backend. Building a smooth UI/UX is also one of my strong points. I love learning and adapting to new technologies and frameworks. Flask and Wordpress are two technologies I am comfortable with, and adding more technologies to this list serves as my daily motivation.</div></div>
</div>
</div>
  
</div>

<div class="skill-back ">
<div class="container">
  <div class="row">
  <div id="html5" class="col-sm-3 col-xs-6 skill-box">
  <h4>HTML / CSS</h4>
  <div class="exp-back">
 <div class="exp html5">
  </div>


  </div>
  </div>
  <div id="css3" class="col-sm-3 col-xs-6 skill-box">
  <h4>Adobe Photoshop/Illustrator</h4>
  <div class="exp-back">
 <div class="exp css3">
  </div>
  </div>
  </div>
  <div id="javascript" class="col-sm-3 col-xs-6 skill-box">
  <h4>Javascript / jQuery</h4>
  <div class="exp-back">
 <div class="exp javascript">
  </div>
  </div>
  </div>
  <div id="bootstrap" class="col-sm-3 col-xs-6 skill-box">
  <h4>Bootstrap</h4>
  <div class="exp-back">
 <div class="exp bootstrap">
  </div>
  </div>
</div>
  <div id="flask" class="col-sm-3 col-xs-6 skill-box">
  <h4>Flask</h4>
  <div class="exp-back">
 <div class="exp flask">
  </div>
  </div>
</div>
  <div id="wordpress" class="col-sm-3 col-xs-6 skill-box">
  <h4>Wordpress</h4>
  <div class="exp-back">
 <div class="exp wordpress">
  </div>
  </div>
</div>
  <div id="postgres" class="col-sm-3 col-xs-6 skill-box">
  <h4>Linux</h4>
  <div class="exp-back">
 <div class="exp postgres">
  </div>
  </div>
</div>
  <div id="mongodb" class="col-sm-3 col-xs-6 skill-box">
  <h4>PostGres / MongoDB</h4>
  <div class="exp-back">
 <div class="exp mongodb">
  </div>
  </div>
</div>
</div>
  </div>
</div>

<div id="sporquo" class="project-back  ">
<div class=" sporquo-cont"></div>
<div class="container ">
  <div class="row">
 <div class="project-cont ">
  <div  class="col-xs-12 project-box odd-box">

  <h3>Sporquo</h3>
  <div class="project-bio">A social media with an active blog for football fans to start discussions latest on their favorite team, while keeping themselves updated about the ongoing news. This is an ongoing project of mine with features such as user post submissions, polls, notifications, comment system , ability to follow club feeds etc. </div>
  <div class="tech-used"><h5>Technologies used</h5>
<div class="tech">Flask</div><div class="tech">Bootstrap</div><div class="tech">jQuery</div><div class="tech">AngularJS</div><div class="tech">PostGres</div>
  </div>

<div class="project-but">
<div class="project-but-in">  </div>
<div class="project-a"> 
  <a target="blank" href="http://sporquo.com"><i class="glyphicon glyphicon-globe"></i> View Website</a> </div>

</div>
  </div>


  </div>
</div>
  </div>
</div>
<div id="fourmost" class="project-back text-right  ">
<div class="fourmost-cont"></div>
<div class="container">
  <div class="row">
 <div class="project-cont ">
  <div class="col-xs-12 project-box even-box">

  <h3>Fourmost</h3>
  <div class="project-bio">Fourmost is a search portal through which you can find the four best options for the services near you. The website includes features such as service ratings, review system, contact lists to save the contacts of the services you like the most.</div>
  <div class="tech-used"><h5>Technologies used</h5>
<div class="tech">Flask</div><div class="tech">Bootstrap</div><div class="tech">jQuery</div><div class="tech">PostGres</div>
  </div>

<div class="project-but pull-right">
<div class="project-but-in" style="right:0;">  </div>
<div class="project-a"> 
  <a target="blank" href="http://fourmost.in"><i class="glyphicon glyphicon-globe"></i> View Website</a> </div>

</div>
  </div>


  </div>
</div>
  </div>
</div>
<div id="studentnation" class="project-back  ">
<div class="studentnation-cont"></div>
<div class="container">
  <div class="row">
 <div class="project-cont ">
  <div class="col-xs-12 project-box odd-box">

  <h3>Studentnation</h3>
  <div class="project-bio">Currently working on this project which is a forum / social media for new students in the colleges in Canada, to help them settle in faster. It also includes a blog and feature for users to post their unique content to help others.</div>
  <div class="tech-used"><h5>Technologies used</h5>
<div class="tech">Flask</div><div class="tech">Bootstrap</div><div class="tech">jQuery</div><div class="tech">PostGres</div>
  </div>


  </div>


  </div>
</div>
  </div>
</div>
  
<div id="contact">
<div class="container">
  <div class="row">
 <div class="project-cont text-right">
  <div class="col-xs-12 project-box even-box">
  <h3>Your Project</h3>
  <div class="project-bio">I would really love to hear your ideas for the new project.</div>
<form action="https://formspree.io/aniketsuvarna30191@gmail.com"
      method="POST">
    
    <input type="email" name="_replyto"   placeholder="your email-id">
    <input type="text" name="name"  placeholder="your name">
    <textarea type="text" name="explain" placeholder="Explain your project"></textarea>
    <input type="submit" value="Send">
</form>
  </div></div></div></div></div>

</body>
</html>
