<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>


<div id="loader">
<div class="loader-svg">

  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    width="196.557px" height="269.214px" viewBox="0 -89.786 196.557 269.214" enable-background="new 0 -89.786 196.557 269.214"
   xml:space="preserve">
<polygon fill="#738DF9" class="bar4" points="161.933,45.423 139.09,84.232 139.09,37.04 161.933,37.04 "/>
<polygon fill="#5171F4" class="bar3" points="129.495,94.456 106.652,131.006 106.652,36.954 129.495,36.954 "/>
<rect x="71.928" y="36.954" class="bar2" fill="#3A5DEF" width="22.844" height="101.362"/>
<rect x="36.429" y="36.954" class="bar1" fill="#2A48F3" width="22.844" height="101.362"/>

<g>
  <path fill="#888888" d="M8.083-40.805h12.441v5.133H2.167v-54.114h5.916V-40.805z"/>
  <path fill="#888888" d="M32.182-89.786h8.874c4.581,0,6.873,2.292,6.873,6.873v40.368c0,4.583-2.292,6.873-6.873,6.873h-8.874
    c-4.583,0-6.873-2.291-6.873-6.873v-40.368C25.309-87.494,27.599-89.786,32.182-89.786z M42.013-43.502v-38.454
    c0-1.159-0.174-1.899-0.522-2.218c-0.348-0.318-1.074-0.479-2.175-0.479h-5.394c-1.103,0-1.827,0.16-2.175,0.479
    c-0.348,0.319-0.522,1.059-0.522,2.218v38.454c0,1.161,0.174,1.9,0.522,2.219c0.348,0.319,1.072,0.479,2.175,0.479h5.394
    c1.101,0,1.827-0.159,2.175-0.479C41.839-41.602,42.013-42.341,42.013-43.502z"/>
  <path fill="#888888" d="M74.811-35.672l-2.262-13.746H61.587l-2.001,13.746h-6.003l8.439-54.114h9.483l9.309,54.114H74.811z
     M62.282-54.551h9.483L66.719-85.61L62.282-54.551z"/>
  <path fill="#888888" d="M86.903-89.786h17.139c4.581,0,6.873,2.292,6.873,6.873v40.368c0,4.583-2.292,6.873-6.873,6.873H86.903
    V-89.786z M104.911-43.502v-38.454c0-1.159-0.174-1.899-0.521-2.218c-0.349-0.318-1.074-0.479-2.176-0.479h-9.309v43.848h9.309
    c1.102,0,1.827-0.159,2.176-0.479C104.738-41.602,104.911-42.341,104.911-43.502z"/>
  <path fill="#888888" d="M120.919-89.786h5.916v54.114h-5.916V-89.786z"/>
  <path fill="#888888" d="M155.023-89.786h5.48v54.114h-6.524l-11.224-41.934v41.934h-5.48v-54.114h6.96l10.788,40.455V-89.786z"/>
  <path fill="#888888" d="M191.823-74.648h-6.003v-7.308c0-1.159-0.174-1.899-0.522-2.218c-0.348-0.318-1.073-0.479-2.175-0.479
    h-4.785c-1.161,0-1.9,0.16-2.219,0.479c-0.319,0.319-0.479,1.059-0.479,2.218v38.541c0,1.103,0.159,1.827,0.479,2.175
    c0.318,0.348,1.058,0.522,2.219,0.522h4.785c1.102,0,1.827-0.174,2.175-0.522c0.349-0.348,0.522-1.073,0.522-2.175V-57.77h-4.351
    v-5.133h10.354v20.445c0,4.583-2.292,6.873-6.873,6.873h-8.439c-4.582,0-6.873-2.291-6.873-6.873v-40.455
    c0-4.581,2.291-6.873,6.873-6.873h8.439c4.581,0,6.873,2.292,6.873,6.873V-74.648z"/>
</g>

<g>
  <path fill="#FFFFFF" d="M123.19,179.428H0V0h196.557v66.331L123.19,179.428z M20,159.428h92.325l64.232-99.016V20H20V159.428z"/>
</g>
</svg></div>
</div>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#about">About</a>
  <a href="#sporquo">Work</a>
<a href="#services">Services</a>
  <a href="#contact">Contact</a>
   <a target="_blank" href="http://facebook.com/zxealwd" class="fb-side"><img src="{{ '/img/fb.png' | prepend: site.baseurl }}" /></a>
    <a target="_blank" href="http://twitter.com/zxealwd" class="tw-side"><img src="{{ '/img/tw.png' | prepend: site.baseurl }}" /></a>
</div>







<script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script><script>
function openNav() {
    document.getElementById("mySidenav").style.width = "120px";
    document.getElementById("main").style.marginRight = "120px";
     $('.closebtn').show();
    $('.openn').hide();
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginRight= "0";
   $('.closebtn').hide();
      $('.openn').show();
}
</script>
  <script type="text/javascript">
$( window ).load(function() {
        $('#loader').fadeOut('slow');
            setTimeout(function(){
$('.svg-box').addClass('is-showing');
$('.svg-z').addClass('is-showing');
$('.svg-x').addClass('is-showing');
$('.tag').addClass('is-showing');
}, 200);
    });

 $(document).ready(function() {

$('.down-side').click(function(){
   $('html,body').animate({
        scrollTop: $(".work-back").offset().top},
        'slow');
});

var posit =false;
var skillflag=true;
var sqflag=true;
var fourflag=true;
var snflag=true;
var flag,flaga,flagb,flagc,flagd,flage,flagf,flagg,flagh = true


    $(window).scroll(function() {
       var wScroll = $(this).scrollTop();
       var p = $( ".work-back" );
var position = p.position();
var skill = $('.skill-back').position();
 var sporquo = $('#sporquo').position();
var fourmost = $('#fourmost').position();
var contact = $('#contact').position();
var services = $('#services').position();
var service1 = $('#service1').position();
var service2 = $('#service2').position();
var service3 = $('#service3').position();
var studentnation = $('#studentnation').position();

    if(wScroll>300 && posit === false ){

  $('.svg-box').removeClass('is-showing');
$('.svg-z').removeClass('is-showing');
$('.svg-x').removeClass('is-showing');
      $('.svg-logo').hide(0).addClass('left-nav').show(0);
       




$('.svg-box').addClass('is-showing');
$('.svg-z').addClass('is-showing');
$('.svg-x').addClass('is-showing');
posit=true;
}else if(wScroll<250 && posit === true ){
  posit=false;
    $('.svg-box').removeClass('is-showing');
$('.svg-z').removeClass('is-showing');
$('.svg-x').removeClass('is-showing');
 $('.svg-logo').hide(0).removeClass('left-nav').css({'margin':'0 auto'}).css({'margin-top':'100px'}).show(0);
 $('.svg-box').addClass('is-showing');
$('.svg-z').addClass('is-showing');
$('.svg-x').addClass('is-showing');
}
 if(wScroll>(position.top-400)){
  $('.down-side').hide();
  $('.work-title').addClass('is-showing');
  $('.work-main').addClass('is-showing');
   $('#bubb').addClass('bubbpop');
 }else if(wScroll<(position.top-400)){
  $('.down-side').show();
    $('.work-title').removeClass('is-showing');
    $('.work-main').removeClass('is-showing');
       $('#bubb').removeClass('bubbpop');
       skillflag=true;
        
 }
var htmlpos = $( "#html5" ).position();
if(wScroll>(htmlpos.top-500)){
$('.html5').css( 'width','90%' ); 
var div = $('#html5').find('.percent span');
var target = 90;
var number = 0;
if (flag){
 var interval = setInterval(function() {
        div.text(number);
        if (number >= target) clearInterval(interval);
        number++;
    }, 8);
 flag=false;
}


}
else if(wScroll<(htmlpos.top-500)){
   $('.html5').css( 'width','0%' ); 
   flag=true;
 }
var css3pos = $( "#css3" ).position();
if(wScroll>(css3pos.top-500)){
$('.css3').css( 'width','80%' ); 
var diva = $('#css3').find('.percent span');
var targeta = 80;
var numbera = 0;
if (flaga){


 var intervala = setInterval(function() {
        diva.text(numbera);
        if (numbera >= targeta) clearInterval(intervala);
        numbera++;
    }, 8);
  flaga=false;
}
}
else if(wScroll<(css3pos.top-500)){
  $('.css3').css( 'width','0%' ); 
  flaga=true;
 }
 var javascriptpos = $( "#javascript" ).position();
if(wScroll>(javascriptpos.top-500)){
$('.javascript').css( 'width','60%' ); 

var divb = $('#javascript').find('.percent span');
var targetb = 60;
var numberb = 0;
if (flagb){
 var intervalb = setInterval(function() {
        divb.text(numberb);
        if (numberb >= targetb) clearInterval(intervalb);
        numberb++;
    }, 8);
  flagb=false;
}

}
else if(wScroll<(javascriptpos.top-500)){
   $('.javascript').css( 'width','0%' ); 
    flagb=true;
 }
 var bootstrappos = $( "#bootstrap" ).position();
if(wScroll>(bootstrappos.top-500)){
 $('.bootstrap').css( 'width','100%' ); 

var divc = $('#bootstrap').find('.percent span');
var targetc = 100;
var numberc = 0;
if (flagc){
 var intervalc = setInterval(function() {
        divc.text(numberc);
        if (numberc >= targetc) clearInterval(intervalc);
        numberc++;
    }, 8);
 flagc=false;
}


}
else if(wScroll<(bootstrappos.top-500)){
    $('.bootstrap').css( 'width','0%' ); 
     flagc=true;
 }
  var flaskpos = $( "#flask" ).position();
if(wScroll>(flaskpos.top-500)){
 $('.flask').css( 'width','95%' ); 

var divd = $('#flask').find('.percent span');
var targetd = 95;
var numberd = 0;
if (flagd){
 var intervald = setInterval(function() {
        divd.text(numberd);
        if (numberd >= targetd) clearInterval(intervald);
        numberd++;
    }, 8);
 flagd=false;
}

}
else if(wScroll<(flaskpos.top-500)){
    $('.flask').css( 'width','0%' ); 
     flagd=true;
 } var wordpresspos = $( "#wordpress" ).position();
if(wScroll>(wordpresspos.top-500)){
 $('.wordpress').css( 'width','60%' ); 

var dive = $('#wordpress').find('.percent span');
var targete = 60;
var numbere = 0;
if (flage){
 var intervale = setInterval(function() {
        dive.text(numbere);
        if (numbere >= targete) clearInterval(intervale);
        numbere++;
    }, 8);
flage=false;
}
}
else if(wScroll<(wordpresspos.top-500)){
    $('.wordpress').css( 'width','0%' ); 
     flage=true;
 } 

 var postgrespos = $( "#postgres" ).position();
if(wScroll>(postgrespos.top-500)){
 $('.postgres').css( 'width','75%' ); 

var divf = $('#postgres').find('.percent span');
var targetf = 75;
var numberf = 0;
if (flagf){
 var intervalf = setInterval(function() {
        divf.text(numberf);
        if (numberf >= targetf) clearInterval(intervalf);
        numberf++;
    }, 8);
flagf=false;
}
}
else if(wScroll<(postgrespos.top-500)){
    $('.postgres').css( 'width','0%' ); 
     flagf=true;
 } 
 var mongodbpos = $( "#mongodb" ).position();
if(wScroll>(mongodbpos.top-500)){
 $('.mongodb').css( 'width','75%' ); 

var divg = $('#mongodb').find('.percent span');
var targetg = 75;
var numberg = 0;
if (flagg){
 var intervalg = setInterval(function() {
        divg.text(numberg);
        if (numberg >= targetg) clearInterval(intervalg);
        numberg++;
    }, 8);
flagg=false;
}

}
else if(wScroll<(mongodbpos.top-500)){
    $('.mongodb').css( 'width','0%' ); 
      flagg=true;
 }
 var seopos = $( "#seo" ).position();
if(wScroll>(seopos.top-500)){
 $('.seo').css( 'width','67%' ); 

var divh = $('#seo').find('.percent span');
var targeth = 67;
var numberh = 0;
if (flagh){
 var intervalh = setInterval(function() {
        divh.text(numberh);
        if (numberh >= targeth) clearInterval(intervalh);
        numberh++;
    }, 8);
flagh=false;
}

}
else if(wScroll<(seopos.top-500)){
    $('.seo').css( 'width','0%' );
    flagh=true; 
 }
 if(wScroll>(service1.top-300)){
 $('#service1').find('.st2').addClass('stw');

 }else if(wScroll<(service1.top-300)){
 $('#service1').find('.st2').removeClass('stw');
 }
  if(wScroll>(service2.top-300)){
 $('#service2').find('.st2').addClass('stw');

 }else if(wScroll<(service2.top-300)){
 $('#service2').find('.st2').removeClass('stw');
 }
  if(wScroll>(service3.top-300)){
 $('#service3').find('.st2').addClass('stw');

 }else if(wScroll<(service3.top-300)){
 $('#service3').find('.st2').removeClass('stw');
 }

if(wScroll>(services.bottom-200)){

  if(skillflag){
    
  $('html,body').animate({
        scrollTop: $(".project-back").offset().top},
        'fast');
  skillflag=false;
  }
}
if(wScroll>(sporquo.top-200)){

  $('#sporquo ').find('.project-box').addClass('is-showing');
   $('.sporquo-cont ').addClass('scale');
}else if(wScroll<(sporquo.top-200)){
 $('#sporquo').find('.project-box').removeClass('is-showing');
  $('.sporquo-cont ').removeClass('scale');
 sqflag=true;
        
}
if(wScroll>(fourmost.top-200)){

  $('#fourmost ').find('.project-box').addClass('is-showing');
  $('.fourmost-cont ').addClass('scale');
}else if(wScroll<(fourmost.top-200)){
 $('#fourmost ').find('.project-box').removeClass('is-showing');
  $('.fourmost-cont ').removeClass('scale');
 fourflag=true;
}
if(wScroll>(studentnation.top-200)){

  $('#studentnation ').find('.project-box').addClass('is-showing');
  $('.studentnation-cont ').addClass('scale');
}else if(wScroll<(studentnation.top-200)){
 $('#studentnation  ').find('.project-box').removeClass('is-showing');
  $('.studentnation-cont ').removeClass('scale');
  snflag=true;
}
if(wScroll>(contact.top-200)){

  $('#contact ').find('.project-box').addClass('is-showing');

}else if(wScroll<(contact.top-200)){
 $('#contact  ').find('.project-box').removeClass('is-showing');

}

if(wScroll>(sporquo.top+50)&&wScroll<(sporquo.top+100)){

  if(sqflag){
 $('html,body').animate({
        scrollTop: $(".fourmost-cont").offset().top},
        'fast');
 sqflag=false;
}
}



if(wScroll>(fourmost.top+50)&&wScroll<(fourmost.top+100)){
 if(fourflag){

 $('html,body').animate({
        scrollTop: $(".studentnation-cont").offset().top},
        'fast');
 fourflag=false;
}
}


if(wScroll>(studentnation.top+50)&&wScroll<(studentnation.top+100)){

  if(snflag){
 $('html,body').animate({
        scrollTop: $("#contact").offset().top},
        'fast');
 snflag=false;
}
}





       $('.above-back').css({
        'transform':'translate('+wScroll/50 +'%,'+wScroll/6 +'%)'

       });
       $('.above-back-b').css({
        'transform':'translate(-'+wScroll/10 +'%,'+wScroll/2 +'%)'

       });
     
     
    });
});
  </script><div id="main">
  <div id="top">


  <span style="cursor:pointer" class="openn" onclick="openNav()">&#9776;</span>
  <div class=" index-home">


<div class="svg-overlay">
<svg version="1.1"  class="svg-logo" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="218.645px" height="188.725px" viewBox="0 0 218.645 188.725" enable-background="new 0 0 218.645 188.725"
   xml:space="preserve">
<polygon fill="none" stroke="#FFFFFF" class="svg-box" stroke-width="20" stroke-miterlimit="10" points="192.51,14.688 15.954,14.688 
  15.954,174.117 123.711,174.117 192.51,68.06 "/>
<polygon fill="#FFFFFF"  class="svg-z" points="66.818,128.483 118.252,43.976 50.079,43.976 50.079,59.636 90.306,59.636 38.875,144.142 
  105.779,144.142 115.01,128.483 "/>
<polygon fill="#FFFFFF" class="svg-x" points="211.749,185.724 193.172,158.509 192.929,158.509 185.853,148.142 186.027,148.142 168.021,121.764 
  199.88,75.19 180.171,75.19 158.167,107.319 146.907,90.778 140.863,81.898 140.907,81.817 130.45,66.455 121.307,81.966 
  127.355,90.845 127.307,90.927 138.179,106.888 148.312,121.764 111.863,175.356 131.573,175.356 158.167,136.208 159.488,138.142 
  159.315,138.142 177.895,165.356 178.135,165.356 192.04,185.724 "/>
</svg>
</div>
 
<span class="tag">
DREAM / DESIGN / CODE</span>

<div class="down-side"><img height="25" src="{{ '/img/down.png' | prepend: site.baseurl }}" /></div>

</div>
  <div class="centererback">
<div class="above-back-b"></div>
<div class="above-back"></div>
<div class="centerer">

   <header class="site-header center-header">
 
  <div class="wrapper">

  
    <nav class="site-nav ">


      <a href="#" class="menu-icon">
        <svg viewBox="0 0 18 15">
          <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
          <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
          <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
        </svg>
      </a>

     
    </nav>
   

  </div>

</header>


</div>
</div></div>
<div class="about-back ">
<div class="work-back " id="about">
<div class="container">
  <div class="row"><div class="work-main col-sm-12">
<div class="a-body">
 <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="150px" height="150px" viewBox="0 0 150 150" enable-background="new 0 0 150 150" xml:space="preserve">
<rect fill="#F3F22A" class="a-back" width="150" height="150"/>
<rect x="87" y="41" fill="#589FC7" width="8" height="3"/>
<rect x="79" y="44" fill="#589FC7" width="8" height="3"/>
<polygon fill="#A5473D" points="102.5,62.511 101.5,62.511 101.5,24.511 43.5,24.511 43.5,90.512 48.5,90.512 48.5,94.512 
  53.5,94.512 53.5,97.512 86.5,97.512 86.5,94.512 94.5,94.512 94.5,90.512 98.5,90.512 98.5,79.512 102.5,79.512 "/>
<rect x="62" y="94" fill="#A5473D" width="17" height="20"/>
<polygon fill="#232323" points="110,126 110,120 105,120 105,115 97,115 97,113 49,113 49,116 39,116 39,123.711 39,131.5 39,140 
  46,140 46,135 49,135 49,150 97,150 97,136 105,136 105,140 113,140 113,126 "/>
<rect x="55" y="61" fill="#843731" width="3" height="12"/>
<polygon fill="#353535" points="76,12 72,12 72,10 62,10 59,10 55,10 55,9 51,9 51,8 40,8 40,29 44,29 51,29 55,29 55,27 59,27 
  59,22 62,22 62,20 76,20 "/>
<rect x="37" y="116" fill="#2D2D2D" width="5" height="24"/>
<rect x="48" y="134" fill="#2D2D2D" width="8" height="16"/>
<rect x="103" y="128" fill="#2D2D2D" width="4" height="12"/>
<rect x="108" y="140" fill="#843731" width="4" height="10"/>
<polygon class="brow" fill="#2D2D2D" points="74,52 74,51 67,51 67,52 67,53 67,54 79,54 79,52 "/>
<polygon class="brow" fill="#2D2D2D" points="53,52 53,51 46,51 46,52 46,53 46,54 56,54 56,52 "/>
<rect x="105" y="140" fill="#A5473D" width="7" height="10"/>
<rect x="39" y="140" fill="#A5473D" width="7" height="10"/>
<rect x="42" y="140" fill="#843731" width="4" height="10"/>
<g>
  <rect x="55.5" y="81.555" fill="#843731" width="16" height="2.293"/>
  <rect x="54" y="80" fill="#843731" width="20" height="2"/>
  <rect x="57" y="82" fill="#843731" width="11" height="3"/>
</g>
<polygon fill="#843731" points="95,64 95,72 92,72 92,58 86,58 86,79 83,79 83,93 74,93 74,97 62,97 62,103 74,103 74,113 80,113 
  80,98 86,98 93,98 93,93 99,93 99,91 99,91 99,79 103,79 103,64 "/>
<rect x="103" y="64" fill="#2D2D2D" width="4" height="10"/>
<rect x="41" y="48" fill="#2D2D2D" width="3" height="15"/>
<rect x="101" y="20" fill="#2D2D2D" width="3" height="3"/>
<rect x="57" y="72" fill="#843731" width="8" height="2"/>
<rect x="59" y="72" fill="#843731" width="6" height="3"/>
<polygon fill="#2D2D2D" points="105,37 105,30 104,30 104,24 102,24 102,22 95,22 95,19 89,19 89,17 80,17 80,13 67,13 67,12 64,12 
  64,9 58,9 58,6 42,6 42,12 39,12 39,19 38,19 38,39 39,39 39,43.88 39,52 44,52 44,44 45,44 45,39 49,39 49,35 55,35 55,37 61,37 
  61,39 68,39 68,41 77,41 77,42 82,42 82,44 86,44 86,58 91,58 91,72 95,72 95,64 109,64 109,50.145 109,48.057 109,37 "/>
<rect x="70.25" class="eyes" y="57.5" fill="#2D2D2D" width="4.5" height="5"/>
<rect x="48.25" class="eyes"  y="57.5" fill="#2D2D2D" width="4.5" height="5"/>
</svg>

</div>

  <div class="work-div">
<div class="work-title hi">HI</div>
  I'm Aniket Suvarna, a web developer based in Mumbai, India. I am really passionate about what I do and what I believe in. I like to collaborate with people who share my passion and drive towards building something unique. I specialise in designing the backend. Building a smooth UI/UX is also one of my strong points. I love learning and adapting to new technologies and frameworks. Flask and Wordpress are two technologies I am most comfortable with, and adding more technologies to this list serves as my daily motivation.</div></div>
</div>
</div>
  
</div>
</div>
<div class="skill-back ">
<div class="container">
  <div class="skill-row">
  <div id="html5" class="col-sm-4 col-xs-6 skill-box">
  <div class="percent"><span>0</span><font>%</font></div>
<div class="p-left">
  <h4>HTML / CSS</h4>
  <div class="exp-back">
 <div class="exp html5">
  </div>


  </div></div>
  </div>
  <div id="css3" class="col-sm-4 col-xs-6 skill-box">
    <div class="percent"><span>0</span><font>%</font></div>
<div class="p-left">
  <h4>Adobe PS / AI</h4>
  <div class="exp-back">
 <div class="exp css3">
  </div>
  </div></div>
  </div>
  <div id="javascript" class="col-sm-4 col-xs-6 skill-box">
    <div class="percent"><span>0</span><font>%</font></div>
<div class="p-left">
  <h4>Javascript / jQuery</h4>
  <div class="exp-back">
 <div class="exp javascript">
  </div>
  </div></div>
  </div>
  <div id="bootstrap" class="col-sm-4 col-xs-6 skill-box">
    <div class="percent"><span>0</span><font>%</font></div>
<div class="p-left">
  <h4>Bootstrap</h4>
  <div class="exp-back">
 <div class="exp bootstrap">
  </div>
  </div></div>
</div>
  <div id="flask" class="col-sm-4 col-xs-6 skill-box">
    <div class="percent"><span>0</span><font>%</font></div>
<div class="p-left">
  <h4>Flask</h4>
  <div class="exp-back">
 <div class="exp flask">
  </div></div>
  </div>
</div>
  <div id="wordpress" class="col-sm-4 col-xs-6 skill-box">
    <div class="percent"><span>0</span><font>%</font></div>
<div class="p-left">
  <h4>Wordpress</h4>
  <div class="exp-back">
 <div class="exp wordpress">
  </div></div>
  </div>
</div>
  <div id="postgres" class="col-sm-4 col-xs-6 skill-box">
    <div class="percent"><span>0</span><font>%</font></div>
<div class="p-left">
  <h4>Linux</h4>
  <div class="exp-back">
 <div class="exp postgres">
  </div></div>
  </div>
</div>
  <div id="mongodb" class="col-sm-4 col-xs-6 skill-box">
    <div class="percent"><span>0</span><font>%</font></div>
<div class="p-left">
  <h4>PostGres / MongoDB</h4>
  <div class="exp-back">
 <div class="exp mongodb">
  </div>
  </div></div>
</div>
  <div id="seo" class="col-sm-4 col-xs-6 skill-box">
    <div class="percent"><span>0</span><font>%</font></div>
<div class="p-left">
  <h4>SEO</h4>
  <div class="exp-back">
 <div class="exp seo">
  </div></div>
  </div>
</div>
</div>
  </div>
</div>
<div id="services" class="services-back">
  <div class="container ">
  <div class="row">
  <div class="service-cont">

<div id="service1"  class="service-box">

 <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
viewBox="0 0 300 300" style="enable-background:new 0 0 300 300;" xml:space="preserve">

<g class="st1">
  <rect x="22.5" y="20.5" class="st0" width="259" height="259"/>
  <line class="st0" x1="22" y1="264.5" x2="281" y2="264.5"/>
  <line class="st0" x1="22" y1="249.5" x2="281" y2="249.5"/>
  <line class="st0" x1="22" y1="233.5" x2="281" y2="233.5"/>
  <line class="st0" x1="22" y1="218.5" x2="281" y2="218.5"/>
  <line class="st0" x1="22" y1="203.5" x2="281" y2="203.5"/>
  <line class="st0" x1="22" y1="188.5" x2="281" y2="188.5"/>
  <line class="st0" x1="22" y1="173.5" x2="281" y2="173.5"/>
  <line class="st0" x1="22" y1="157.5" x2="281" y2="157.5"/>
  <line class="st0" x1="22" y1="142.5" x2="281" y2="142.5"/>
  <line class="st0" x1="22" y1="127.5" x2="281" y2="127.5"/>
  <line class="st0" x1="22" y1="112.5" x2="281" y2="112.5"/>
  <line class="st0" x1="22" y1="96.5" x2="281" y2="96.5"/>
  <line class="st0" x1="22" y1="81.5" x2="281" y2="81.5"/>
  <line class="st0" x1="22" y1="66.5" x2="281" y2="66.5"/>
  <line class="st0" x1="22" y1="51.5" x2="281" y2="51.5"/>
  <line class="st0" x1="22" y1="35.5" x2="281" y2="35.5"/>
  <line class="st0" x1="262.5" y1="21" x2="262.5" y2="280"/>
  <line class="st0" x1="244.5" y1="21" x2="244.5" y2="280"/>
  <line class="st0" x1="225.5" y1="21" x2="225.5" y2="280"/>
  <line class="st0" x1="207.5" y1="21" x2="207.5" y2="280"/>
  <line class="st0" x1="188.5" y1="21" x2="188.5" y2="280"/>
  <line class="st0" x1="170.5" y1="21" x2="170.5" y2="280"/>
  <line class="st0" x1="151.5" y1="21" x2="151.5" y2="280"/>
  <line class="st0" x1="133.5" y1="21" x2="133.5" y2="280"/>
  <line class="st0" x1="114.5" y1="21" x2="114.5" y2="280"/>
  <line class="st0" x1="96.5" y1="21" x2="96.5" y2="280"/>
  <line class="st0" x1="77.5" y1="21" x2="77.5" y2="280"/>
  <line class="st0" x1="59.5" y1="21" x2="59.5" y2="280"/>
  <line class="st0" x1="40.5" y1="21" x2="40.5" y2="280"/>
</g>
<g>
  <path class="st2" d="M253.5,265h-204c-5.238,0-9.5-4.262-9.5-9.5v-211c0-5.238,4.262-9.5,9.5-9.5h204c5.238,0,9.5,4.262,9.5,9.5
    v211C263,260.738,258.738,265,253.5,265z M49.5,36c-4.687,0-8.5,3.813-8.5,8.5v211c0,4.687,3.813,8.5,8.5,8.5h204
    c4.687,0,8.5-3.813,8.5-8.5v-211c0-4.687-3.813-8.5-8.5-8.5H49.5z"/>
</g>
<g>
  <rect x="40" y="51" class="st2" width="222" height="1"/>
</g>
<g>
  <path class="st2" d="M216.895,48.415c-2.622,0-4.756-2.133-4.756-4.755s2.134-4.755,4.756-4.755s4.755,2.133,4.755,4.755
    S219.517,48.415,216.895,48.415z M216.895,39.904c-2.071,0-3.756,1.685-3.756,3.755s1.685,3.755,3.756,3.755
    c2.07,0,3.755-1.685,3.755-3.755S218.965,39.904,216.895,39.904z"/>
</g>
<g>
  <path class="st2" d="M234.895,48.415c-2.622,0-4.756-2.133-4.756-4.755s2.134-4.755,4.756-4.755s4.755,2.133,4.755,4.755
    S237.517,48.415,234.895,48.415z M234.895,39.904c-2.071,0-3.756,1.685-3.756,3.755s1.685,3.755,3.756,3.755
    c2.07,0,3.755-1.685,3.755-3.755S236.965,39.904,234.895,39.904z"/>
</g>
<g>
  <path class="st2" d="M252.895,48.415c-2.622,0-4.756-2.133-4.756-4.755s2.134-4.755,4.756-4.755s4.755,2.133,4.755,4.755
    S255.517,48.415,252.895,48.415z M252.895,39.904c-2.071,0-3.756,1.685-3.756,3.755s1.685,3.755,3.756,3.755
    c2.07,0,3.755-1.685,3.755-3.755S254.965,39.904,252.895,39.904z"/>
</g>
<g>
  <path class="st2" d="M189,158H59V66h130V158z M60,157h128V67H60V157z"/>
</g>
<g>
  <path class="st2" d="M189,189H59v-16h130V189z M60,188h128v-14H60V188z"/>
</g>
<g>
  <path class="st2" d="M134,219H59v-16h75V219z M60,218h73v-14H60V218z"/>
</g>
<g>
  <path class="st2" d="M245,128h-38V66h38V128z M208,127h36V67h-36V127z"/>
</g>
<g>
  <path class="st2" d="M245,158h-38v-16h38V158z M208,157h36v-14h-36V157z"/>
</g>
<g>
  <path class="st2" d="M245,235h-38v-62h38V235z M208,234h36v-60h-36V234z"/>
</g>
<g>
  <path class="st2" d="M189,219h-38v-16h38V219z M152,218h36v-14h-36V218z"/>
</g>
<g>
  <path class="st2" d="M161.191,96.383c-4.241,0-7.691-3.45-7.691-7.691S156.95,81,161.191,81s7.691,3.45,7.691,7.691
    S165.433,96.383,161.191,96.383z M161.191,82c-3.689,0-6.691,3.002-6.691,6.691s3.002,6.691,6.691,6.691s6.691-3.002,6.691-6.691
    S164.881,82,161.191,82z"/>
</g>
<g>
  <path class="st2" d="M151.52,143c-0.005,0-0.012,0-0.02,0H75.489c-0.181,0-0.348-0.098-0.436-0.255s-0.085-0.351,0.009-0.505
    l37.234-61c0.09-0.147,0.25-0.238,0.422-0.239c0.001,0,0.003,0,0.004,0c0.171,0,0.33,0.087,0.422,0.232l38.713,60.9
    c0.1,0.091,0.161,0.222,0.161,0.368C152.02,142.776,151.796,143,151.52,143z M76.38,142h74.209l-37.857-59.554L76.38,142z"/>
</g>
<g>
  <path class="st2" d="M170.5,143H151c-0.276,0-0.5-0.224-0.5-0.5s0.224-0.5,0.5-0.5h18.579l-18.611-28.631l-9.81,12.931
    c-0.167,0.219-0.48,0.262-0.701,0.096c-0.22-0.167-0.263-0.48-0.096-0.701l10.24-13.497c0.099-0.129,0.228-0.207,0.417-0.197
    c0.162,0.006,0.312,0.09,0.4,0.227l19.5,30c0.101,0.154,0.108,0.35,0.021,0.511S170.684,143,170.5,143z"/>
</g>
</svg>
<h3>Website Design</h3>
<p>Frontend , Backend , CMS website , Redesign of an existing website or the whole package</p>
</div>






<div id="service2" class="service-box">

 <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 300 300" style="enable-background:new 0 0 300 300;" xml:space="preserve">

<g class="st1">
  <rect x="22.5" y="20.5" class="st0" width="259" height="259"/>
  <line class="st0" x1="22" y1="264.5" x2="281" y2="264.5"/>
  <line class="st0" x1="22" y1="249.5" x2="281" y2="249.5"/>
  <line class="st0" x1="22" y1="233.5" x2="281" y2="233.5"/>
  <line class="st0" x1="22" y1="218.5" x2="281" y2="218.5"/>
  <line class="st0" x1="22" y1="203.5" x2="281" y2="203.5"/>
  <line class="st0" x1="22" y1="188.5" x2="281" y2="188.5"/>
  <line class="st0" x1="22" y1="173.5" x2="281" y2="173.5"/>
  <line class="st0" x1="22" y1="157.5" x2="281" y2="157.5"/>
  <line class="st0" x1="22" y1="142.5" x2="281" y2="142.5"/>
  <line class="st0" x1="22" y1="127.5" x2="281" y2="127.5"/>
  <line class="st0" x1="22" y1="112.5" x2="281" y2="112.5"/>
  <line class="st0" x1="22" y1="96.5" x2="281" y2="96.5"/>
  <line class="st0" x1="22" y1="81.5" x2="281" y2="81.5"/>
  <line class="st0" x1="22" y1="66.5" x2="281" y2="66.5"/>
  <line class="st0" x1="22" y1="51.5" x2="281" y2="51.5"/>
  <line class="st0" x1="22" y1="35.5" x2="281" y2="35.5"/>
  <line class="st0" x1="262.5" y1="21" x2="262.5" y2="280"/>
  <line class="st0" x1="244.5" y1="21" x2="244.5" y2="280"/>
  <line class="st0" x1="225.5" y1="21" x2="225.5" y2="280"/>
  <line class="st0" x1="207.5" y1="21" x2="207.5" y2="280"/>
  <line class="st0" x1="188.5" y1="21" x2="188.5" y2="280"/>
  <line class="st0" x1="170.5" y1="21" x2="170.5" y2="280"/>
  <line class="st0" x1="151.5" y1="21" x2="151.5" y2="280"/>
  <line class="st0" x1="133.5" y1="21" x2="133.5" y2="280"/>
  <line class="st0" x1="114.5" y1="21" x2="114.5" y2="280"/>
  <line class="st0" x1="96.5" y1="21" x2="96.5" y2="280"/>
  <line class="st0" x1="77.5" y1="21" x2="77.5" y2="280"/>
  <line class="st0" x1="59.5" y1="21" x2="59.5" y2="280"/>
  <line class="st0" x1="40.5" y1="21" x2="40.5" y2="280"/>
</g>
<g>
  <path class="st2" d="M219.135,265H83.484c-3.576,0-6.484-4.262-6.484-9.5v-211c0-5.238,2.909-9.5,6.484-9.5h135.65
    c3.722,0,6.865,4.351,6.865,9.5v211C226,260.649,222.856,265,219.135,265z M83.484,36C80.46,36,78,39.813,78,44.5v211
    c0,4.687,2.46,8.5,5.484,8.5h135.65c3.124,0,5.865-3.972,5.865-8.5v-211c0-4.528-2.741-8.5-5.865-8.5H83.484z"/>
</g>
<g>
  <rect x="77" y="51" class="st2" width="148" height="1"/>
</g>
<g>
  <path class="st2" d="M216.895,48.415c-2.622,0-4.756-2.133-4.756-4.755s2.134-4.755,4.756-4.755s4.755,2.133,4.755,4.755
    S219.517,48.415,216.895,48.415z M216.895,39.904c-2.071,0-3.756,1.685-3.756,3.755s1.685,3.755,3.756,3.755
    c2.07,0,3.755-1.685,3.755-3.755S218.965,39.904,216.895,39.904z"/>
</g>
<g>
  <path class="st2" d="M208,158H96V66h112V158z M97,157h110V67H97V157z"/>
</g>
<g>
  <path class="st2" d="M208,189H96v-16h112V189z M97,188h110v-14H97V188z"/>
</g>
<g>
  <path class="st2" d="M208,220H96v-16h112V220z M97,219h110v-14H97V219z"/>
</g>
<g>
  <path class="st2" d="M171,250H96v-16h75V250z M97,249h73v-14H97V249z"/>
</g>
<g>
  <path class="st2" d="M208,250h-21v-16h21V250z M188,249h19v-14h-19V249z"/>
</g>
<g>
  <path class="st2" d="M180.191,96.383c-4.241,0-7.691-3.45-7.691-7.691S175.95,81,180.191,81s7.691,3.45,7.691,7.691
    S184.433,96.383,180.191,96.383z M180.191,82c-3.689,0-6.691,3.002-6.691,6.691s3.002,6.691,6.691,6.691s6.691-3.002,6.691-6.691
    S183.881,82,180.191,82z"/>
</g>
<g>
  <path class="st2" d="M170.52,143c-0.005,0-0.013,0-0.02,0h-64.011c-0.169,0-0.327-0.086-0.419-0.228s-0.106-0.321-0.037-0.476
    l27.234-61c0.076-0.17,0.24-0.284,0.426-0.295c0.19-0.002,0.363,0.082,0.459,0.241l36.714,60.898
    c0.095,0.091,0.153,0.219,0.153,0.36C171.02,142.776,170.796,143,170.52,143z M107.26,142h62.354L133.79,82.578L107.26,142z"/>
</g>
<g>
  <path class="st2" d="M189.5,143H171c-0.276,0-0.5-0.224-0.5-0.5s0.224-0.5,0.5-0.5h17.579l-18.551-28.539l-7.834,13.783
    c-0.137,0.241-0.442,0.323-0.682,0.188c-0.24-0.136-0.324-0.441-0.188-0.682l8.24-14.497c0.086-0.152,0.245-0.248,0.42-0.253
    c0.168-0.009,0.339,0.081,0.434,0.228l19.5,30c0.101,0.154,0.108,0.35,0.021,0.511S189.684,143,189.5,143z"/>
</g>
</svg>
<h3>Responsive Website Design</h3>
<p>Design websites that work perfectly and look great on mobile, or redesign your existing website for mobile screens</p>
</div>

<div id="service3" class="service-box">

 <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  viewBox="0 0 300 300" style="enable-background:new 0 0 300 300;" xml:space="preserve">

<g class="st1">
  <rect x="22.5" y="20.5" class="st0" width="259" height="259"/>
  <line class="st0" x1="22" y1="264.5" x2="281" y2="264.5"/>
  <line class="st0" x1="22" y1="249.5" x2="281" y2="249.5"/>
  <line class="st0" x1="22" y1="233.5" x2="281" y2="233.5"/>
  <line class="st0" x1="22" y1="218.5" x2="281" y2="218.5"/>
  <line class="st0" x1="22" y1="203.5" x2="281" y2="203.5"/>
  <line class="st0" x1="22" y1="188.5" x2="281" y2="188.5"/>
  <line class="st0" x1="22" y1="173.5" x2="281" y2="173.5"/>
  <line class="st0" x1="22" y1="157.5" x2="281" y2="157.5"/>
  <line class="st0" x1="22" y1="142.5" x2="281" y2="142.5"/>
  <line class="st0" x1="22" y1="127.5" x2="281" y2="127.5"/>
  <line class="st0" x1="22" y1="112.5" x2="281" y2="112.5"/>
  <line class="st0" x1="22" y1="96.5" x2="281" y2="96.5"/>
  <line class="st0" x1="22" y1="81.5" x2="281" y2="81.5"/>
  <line class="st0" x1="22" y1="66.5" x2="281" y2="66.5"/>
  <line class="st0" x1="22" y1="51.5" x2="281" y2="51.5"/>
  <line class="st0" x1="22" y1="35.5" x2="281" y2="35.5"/>
  <line class="st0" x1="262.5" y1="21" x2="262.5" y2="280"/>
  <line class="st0" x1="244.5" y1="21" x2="244.5" y2="280"/>
  <line class="st0" x1="225.5" y1="21" x2="225.5" y2="280"/>
  <line class="st0" x1="207.5" y1="21" x2="207.5" y2="280"/>
  <line class="st0" x1="188.5" y1="21" x2="188.5" y2="280"/>
  <line class="st0" x1="170.5" y1="21" x2="170.5" y2="280"/>
  <line class="st0" x1="151.5" y1="21" x2="151.5" y2="280"/>
  <line class="st0" x1="133.5" y1="21" x2="133.5" y2="280"/>
  <line class="st0" x1="114.5" y1="21" x2="114.5" y2="280"/>
  <line class="st0" x1="96.5" y1="21" x2="96.5" y2="280"/>
  <line class="st0" x1="77.5" y1="21" x2="77.5" y2="280"/>
  <line class="st0" x1="59.5" y1="21" x2="59.5" y2="280"/>
  <line class="st0" x1="40.5" y1="21" x2="40.5" y2="280"/>
</g>
<g>
  <path class="st2" d="M252.456,265H49.07c-5.365,0-10.07-4.439-10.07-9.5v-211c0-5.061,4.706-9.5,10.07-9.5h203.386
    c5.263,0,9.544,4.262,9.544,9.5v211C262,260.738,257.719,265,252.456,265z M49.07,36C44.238,36,40,39.972,40,44.5v211
    c0,4.528,4.238,8.5,9.07,8.5h203.386c4.711,0,8.544-3.813,8.544-8.5v-211c0-4.687-3.833-8.5-8.544-8.5H49.07z"/>
</g>
<g>
  <rect x="40" y="51" class="st2" width="222" height="1"/>
</g>
<g>
  <path class="st2" d="M216.895,48.415c-2.622,0-4.756-2.133-4.756-4.755s2.134-4.755,4.756-4.755s4.755,2.133,4.755,4.755
    S219.517,48.415,216.895,48.415z M216.895,39.904c-2.071,0-3.756,1.685-3.756,3.755s1.685,3.755,3.756,3.755
    c2.07,0,3.755-1.685,3.755-3.755S218.965,39.904,216.895,39.904z"/>
</g>
<g>
  <path class="st2" d="M234.895,48.415c-2.622,0-4.756-2.133-4.756-4.755s2.134-4.755,4.756-4.755s4.755,2.133,4.755,4.755
    S237.517,48.415,234.895,48.415z M234.895,39.904c-2.071,0-3.756,1.685-3.756,3.755s1.685,3.755,3.756,3.755
    c2.07,0,3.755-1.685,3.755-3.755S236.965,39.904,234.895,39.904z"/>
</g>
<g>
  <path class="st2" d="M252.895,48.415c-2.622,0-4.756-2.133-4.756-4.755s2.134-4.755,4.756-4.755s4.755,2.133,4.755,4.755
    S255.517,48.415,252.895,48.415z M252.895,39.904c-2.071,0-3.756,1.685-3.756,3.755s1.685,3.755,3.756,3.755
    c2.07,0,3.755-1.685,3.755-3.755S254.965,39.904,252.895,39.904z"/>
</g>
<g>
  <path class="st2" d="M134,158H96V96h38V158z M97,157h36V97H97V157z"/>
</g>
<g>
  <path class="st2" d="M245,191.167l-112-32.792V96.116l0.371-0.099L245,66.098V191.167z M134,157.625l110,32.208V67.402L134,96.884
    V157.625z"/>
</g>
<g>
  <path class="st2" d="M97,158h-9.5c-5.238,0-9.5-4.262-9.5-9.5v-43c0-5.238,4.262-9.5,9.5-9.5H97V158z M87.5,97
    c-4.687,0-8.5,3.813-8.5,8.5v43c0,4.687,3.813,8.5,8.5,8.5H96V97H87.5z"/>
</g>
<g>
  <path class="st2" d="M133.497,235h-18.888l-18.997-77h38.392L133.497,235z M115.392,234h17.112l0.493-75H96.888L115.392,234z"/>
</g>
</svg>
<h3>Social Media Services</h3>
<p>Social media banner designs and graphic designs </p>
</div>

  </div>
  </div>
  </div>
</div>
<div id="sporquo" class="project-back  ">
<div class=" sporquo-cont"></div>
<div class="container ">
  <div class="row">
 <div class="project-cont ">
  <div  class="col-xs-12 project-box odd-box">

  <h3>Sporquo</h3>
  <div class="project-bio">A social media with an active blog for football fans to start discussions latest on their favorite team, while keeping themselves updated about the ongoing news. This is an ongoing project of mine with features such as user post submissions, polls, notifications, comment system , ability to follow club feeds etc. </div>
  <div class="tech-used"><h5>Technologies used</h5>
<div class="tech">Flask</div><div class="tech">Bootstrap</div><div class="tech">jQuery</div><div class="tech">AngularJS</div><div class="tech">PostGres</div>
  </div>

<div class="project-but">
<div class="project-but-in">  </div>
<div class="project-a"> 
  <a target="blank" href="http://sporquo.com/football/blog"><i class="glyphicon glyphicon-globe"></i> View Website</a> </div>

</div>
  </div>


  </div>
</div>
  </div>
</div>
<div id="fourmost" class="project-back text-right  ">
<div class="fourmost-cont"></div>
<div class="container">
  <div class="row">
 <div class="project-cont ">
  <div class="col-xs-12 project-box even-box">

  <h3>Fourmost</h3>
  <div class="project-bio">Fourmost is a search portal through which you can find the four best options for the services near you. The website includes features such as service ratings, review system, contact lists to save the contacts of the services you like the most.</div>
  <div class="tech-used"><h5>Technologies used</h5>
<div class="tech">Flask</div><div class="tech">Bootstrap</div><div class="tech">jQuery</div><div class="tech">PostGres</div>
  </div>

<div class="project-but pull-right">
<div class="project-but-in" style="right:0;">  </div>
<div class="project-a"> 
  <a target="blank" href="http://fourmost.in"><i class="glyphicon glyphicon-globe"></i> View Website</a> </div>

</div>
  </div>


  </div>
</div>
  </div>
</div>
<div id="studentnation" class="project-back  ">
<div class="studentnation-cont"></div>
<div class="container">
  <div class="row">
 <div class="project-cont ">
  <div class="col-xs-12 project-box odd-box">

  <h3>Studentnation</h3>
  <div class="project-bio">Currently working on this project which is a forum / social media for new students in the colleges in Canada, to help them settle in faster. It also includes a blog and feature for users to post their unique content to help others.</div>
  <div class="tech-used"><h5>Technologies used</h5>
<div class="tech">Flask</div><div class="tech">Bootstrap</div><div class="tech">jQuery</div><div class="tech">PostGres</div>
  </div>


  </div>


  </div>
</div>
  </div>
</div>
  
<div id="contact">
<div class="container">
  <div class="row">
 <div class="project-cont text-right">
  <div class="col-xs-12 project-box no-box">
  <h3>Your Project</h3>
  <div class="project-bio">I would really love to hear your ideas for the new project.</div>
<form action="https://formspree.io/aniketsuvarna30191@gmail.com"
      method="POST">
    
    <input type="email" name="_replyto"   placeholder="your email-id">
    <input type="text" name="name"  placeholder="your name">
    <textarea type="text" name="explain" placeholder="Explain your project"></textarea>
    <input type="submit" value="Send">
</form>
  </div></div></div></div></div>

</body>
</html>
